<?xml version="1.0"?>
<robot name="PIPPA_oneleg_column">

<!-- Link Colonna -->
  <link name="Link_colonna">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/> <!-- Colonna alta 0.2, metà altezza = 0.1 -->
      <geometry>
        <cylinder radius="0.06" length="0.2"/> <!-- Diametro 0.12 m -->
      </geometry>
      <material name="Material.001"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.06" length="0.2"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="8.6"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>

  <material name="Material.003">
    <color rgba="0.000 0.800 0.059 1.000"/>
  </material>
</robot>